@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

th, td {
    padding: 15px;
}

.ck-editor__editable_inline {
    min-height: 250px;
}

.ck-editor {
    max-width: 95%;
}
